<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Użytkownicy</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div id="my-table-container">
      <mat-table #table [dataSource]="usersData">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef fxFlex="50px">id</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="50px"> {{ element.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>email</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="activated">
          <mat-header-cell *matHeaderCellDef fxFlex="120px">Aktywny</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="120px">
            <button mat-button [color]="(element.activated ? 'primary' : 'warn')">{{ (element.activated ? 'Aktywny' :
              'Nieaktywny') }}
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef fxFlex="100px"></mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="100px">
            <button mat-button color="warn" (click)="delete(element.id)">
              <mat-icon>delete</mat-icon>
              Usuń
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

      </mat-table>
    </div>

    <mat-paginator #paginator
                   [length]="totalElements"
                   [pageSize]="10"
                   [pageSizeOptions]="[2, 10, 20]"
                   [showFirstLastButtons]="true">

    </mat-paginator>

  </mat-card-content>
</mat-card>
