<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">Centrum Wolontariatu UEK - tworzenie konta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.activation.greeting(${user.firstName})}">
    Drogi
</p>
<p th:text="#{email.creation.text1}">

</p>
<p>
    <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
       th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Link</a>
</p>
<p>
    <span th:text="#{email.activation.text2}"> </span>
    <br/>
    <em th:text="#{email.signature}">Centrum Wolontariatu UEK.</em>
</p>
</body>
</html>
