<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reset.title}">Centrum Wolontariatu UEK - reset hasla</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.reset.greeting(${user.firstName})}">
    Drogi
</p>
<p th:text="#{email.reset.text1}">
    Kliknij poniższy link, aby zresetowac swoje haslo:
</p>
<p>
    <a th:href="@{|${baseUrl}/reset-password/${user.resetKey}|}"
       th:text="@{|${baseUrl}/reset-password/${user.resetKey}|}">Reset Link</a>
</p>
<p>
    <span></span>
    <br/>
    <em>Centrum Wolontariatu UEK</em>
</p>
</body>
</html>
