  <div>
    <h2 mat-dialog-title> Podgląd ogłoszenia </h2>
    <hr>
    <div mat-dialog-content>
     <h4>{{data.title}}</h4>
      <p>{{data.description}}</p> <br>
      <b>kategorie: </b>
      <li *ngFor="let category of data.categories"> 
          {{ category.name }}
      </li>
      <b>typy: </b>
      <li *ngFor="let type of data.volunteerRequestTypes"> 
          {{ type.name }}
      </li><br>
      UserId: {{data.user.id}}
      <br>
    </div> 
    <hr>
    <div mat-dialog-actions>
      <button mat-raised-button tabindex="-1" (click)="onCloseCancel()">Anuluj</button>
      <button mat-raised-button tabindex="-1" (click)="onCloseConfirm()">Zatwierdz</button>
      
    </div>

  </div> 
