<mat-card style>
        <mat-card-header>
          <mat-card-title>Kategorie </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h3>Dodaj <a><mat-icon (click)="addCategory()">person_add</mat-icon></a> </h3>
            <div class="row" *ngIf=addCategoryShow>
                    <mat-form-field class="example-full-width">
                        <input [(ngModel)]="categoryToAdd.categoryName" matInput placeholder="Nazwa nowej kategorii" >
                        <mat-hint>Proszę podać nazwę nowej kategorii</mat-hint>
                      </mat-form-field>
                      <button mat-button color="primary" (click)="createCategory()">
                          <mat-icon>add</mat-icon>
                          Utwórz
                        </button>
            </div>
          <div>
            <mat-table #table [dataSource]="categories" matSort>
      
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef fxFlex="200px" mat-sort-header>name</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="200px"> {{ element.name }}</mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef fxFlex="100px">Usuń</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="100px">
                  <button mat-button color="warn" (click)="deleteCategory(element.name)">
                    <mat-icon>delete</mat-icon>
                    Usuń
                  </button>
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
      
            </mat-table>
          </div>
      
          <mat-paginator #paginator
                         [length]="totalElements"
                         [pageSize]="20"
                         [pageSizeOptions]="[10, 20, 50]"
                         [showFirstLastButtons]="true">
      
          </mat-paginator>
      
        </mat-card-content>
      </mat-card>
      