<form [formGroup]="loginForm" #form="ngForm">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
      Proszę podać poprawny adres email
    </mat-error>
    <mat-error *ngIf="loginForm.get('email').hasError('required')">
      Email jest <strong>wymagany</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Hasło" formControlName="password">
    <mat-error *ngIf="loginForm.get('password').hasError('required')">
      Hasło jest <strong>wymagane</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loginButtonDisabled"
          (click)="login()">
    Zaloguj się
  </button>
</form>

<div fxLayout="row" id="buttons">
  <button mat-button fxFlex="50" color="primary" routerLink="/auth/reset-password">Reset hasła</button>
  <button mat-button fxFlex="50" color="primary" routerLink="/auth/signup">Zarejestruj się</button>
</div>

