<mat-card>
        <mat-card-header>
          <mat-card-title>Moje zgłoszenia jako wolontariusz</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div id="my-table-container">
            <mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef  fxFlex.lt-sm="5%" fxFlex="50px" mat-sort-header>id</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex.lt-sm="5%" fxFlex="50px"> {{ element.id }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef  fxFlex.lt-sm="35%" mat-sort-header>tytuł</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex.lt-sm="35%"> {{ element.title }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="accepted">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="120px" fxFlex.lt-sm="17%">Aktywny</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="120px" fxFlex.lt-sm="17%">

                  <mat-chip-list fxFlex fxShow=”true” fxHide.lt-sm=”true” >
                    <mat-chip [color]="(element.accepted && !element.expired ? 'primary' : 'warn')" selected="true">
                      {{ (element.accepted && !element.expired ? 'Aktywny' : 'Nieaktywny') }}
                    </mat-chip>
                  </mat-chip-list>

                  <mat-chip-list fxFlex fxShow=”true” fxHide.gt-xs=”true”>
                    <mat-chip  [color]="(element.accepted && !element.expired ? 'primary' : 'warn')" selected="true">
                      {{ (element.accepted && !element.expired ? 'Tak' : 'Nie') }}
                    </mat-chip>
                  </mat-chip-list>

                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="application">
                  <mat-header-cell *matHeaderCellDef fxFlex="100px" fxFlex.lt-sm="25%">Zaproszenia</mat-header-cell>
                  <mat-cell *matCellDef="let element" fxFlex="100px" fxFlex.lt-sm="25%">
                    <button mat-button color="warn" (click)="showApplications(element.id)">
                        <button mat-icon-button (click)="clearCount(element.id)">
                            <mat-icon class="icon" color="primary">message</mat-icon>
                          <ng-container *ngIf="getBadgeById(element.id)==null; else elseTemplate">

                          </ng-container>
                          <ng-template #elseTemplate>
                            <span class="badge" *ngIf="getBadgeById(element.id).text > 0">{{getBadgeById(element.id).text}}</span>
                          </ng-template>
                        </button>
                    </button>
                  </mat-cell>
                </ng-container>

              <ng-container matColumnDef="editVr">
                <mat-header-cell *matHeaderCellDef fxFlex="100px" fxFlex.lt-sm="19%">Podgląd</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="100px" fxFlex.lt-sm="19%">
                  <button mat-button color="primary" (click)="openDialog(element)">
                    <mat-icon>edit</mat-icon>
                    <a fxFlex fxShow=”true” fxHide.lt-sm=”true”>podgląd</a>
                  </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="expire">
                <mat-header-cell *matHeaderCellDef fxFlex="100px" fxFlex.lt-sm="20%">Przedawnij</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="100px" fxFlex.lt-sm="20%">
                  <button mat-button color="primary" (click)="setExpired(element.id)" [disabled]="(element.expired==1 || element.accepted==0)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

            </mat-table>
          </div>
          <mat-paginator #paginator
                         [length]="totalElements"
                         [pageSize]="20"
                         [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
