<ngu-carousel [inputs]="carouselBanner" (onMove)="onmoveFn($event)">
  <ngu-item *ngFor="let Banner of carouselBanerItems" NguCarouselItem class="bannerStyle" [ngStyle]="{'background-image': 'url('+Banner+')'}">
    <h1>1</h1>
</ngu-item>
  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>

<div class="row">
  <div class="column">
      <h1 class="sectionTitle">Wolontariat</h1>
      <mat-card class="outer">
        <!-- To je szukajka, zostaw mi do podpięcia -->
          <mat-form-field class="example-full-width" (ngSubmit)="xxxx()">
              <mat-placeholder>
                  <mat-icon class="form-icon">search</mat-icon>
                  Szukaj wolontariatu
              </mat-placeholder>
              <input (keyup)="$event.keyCode == 13 ? searchContent() : null" type="text" aria-label="Number" #searchName matInput (keyup)="searchTerm$.next($event.target.value)" [matAutocomplete]="auto" (input)="searchValue = $event.target.value" >
                <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchName.value=''; searchValue=''; onClickResetSearchButton()">
                    <mat-icon>close</mat-icon>
                </button>
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let result of results " [value]="result.title" (click)="openDialog(result)">
                        <ng-container *ngIf="result.pictures[0]!=null; else elseTemplate">
                                <img class="searchImage" aria-hidden [src]="pathToStaticContent+result.pictures[0].referenceToPicture" height="25" /> {{result.title}} <a style="font-size: 10px;">{{result.description}}</a>
                          </ng-container>
                          <ng-template #elseTemplate>
                                <img class="searchImage" aria-hidden src="https://i.imgur.com/0TdfLx8.jpg" height="25" /> {{result.title}} <a style="font-size: 10px;">{{result.description}}</a>
                          </ng-template>
                    

                     <!-- <img class="searchImage" aria-hidden src="https://sheikalthaf.github.io/ngx-carousel/assets/canberra.jpg" height="25" /> {{result.title}} <a style="font-size: 10px;">{{result.description}}</a>
                     -->
                    </mat-option>
              </mat-autocomplete>
          </mat-form-field>

          <mat-card *ngFor="let row of dataSource.connect() | async" class="box" (click)="openDialog(row)">
              <div class="outter">
                  <div class="inner">
                      <ng-container *ngIf="row.pictures[0]!=null; else elseTemplate">
                            <div class="parentAdvertImage">
                                <img class="advertImage" mat-card-md-image [src]="pathToStaticContent+row.pictures[0].referenceToPicture">
                            </div>
                      </ng-container>
                      <ng-template #elseTemplate>
                            <img class="advertImage" mat-card-md-image src="https://i.imgur.com/0TdfLx8.jpg">
                      </ng-template>
                      
                      
                      <mat-card-title>
                          {{ row.title }}
                      </mat-card-title>
                      <mat-card-subtitle>Poszukiwane osoby: {{row.volunteersAmount}}</mat-card-subtitle>

                      <mat-card-content>
                          <p>
                              {{ row.description }}
                          </p>
                      </mat-card-content>
                  </div>
                  <mat-card-actions>
                      <mat-card-footer>
                          {{row.timestamp | relativeDatePipe}}
                      </mat-card-footer>
                      <div class="footer-left">
                          Dodano przez: student |  
                          <ng-container *ngIf="row.categories==0; else elseTemplateCategories">
                                -
                                </ng-container>
                                <ng-template #elseTemplateCategories>
                                  {{row.categories[0].name}}
                                  <span *ngIf="row.categories.length > 1" class="example-additional-selection">
                                     (+{{row.categories.length - 1}} <span matTooltip="{{getCategoriesFromVolunteerRequest(row.categories)}}">pozostałych </span>)
                                    </span>
                                    
                                </ng-template>
                      </div>
                  </mat-card-actions>
              </div>
          </mat-card>
      </mat-card>
  </div>

  <div class="column">
      <h1 class="sectionTitle">Wolontariusze</h1>
      <mat-card class="outer">
         <!-- To je szukajka, zostaw mi do podpięcia -->
          <mat-form-field class="example-full-width" (ngSubmit)="xxxx()">
              <mat-placeholder>
                  <mat-icon class="form-icon">search</mat-icon>
                  Szukaj wolontariuszy
              </mat-placeholder>
              <input (keyup)="$event.keyCode == 13 ? searchContent() : null" type="text" aria-label="Number" matInput (keyup)="searchTerm$.next($event.target.value)" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let result of results " [value]="result.title" (click)="openDialog(result)">
                          <ng-container *ngIf="result.pictures[0]!=null; else elseTemplate">
                                  <img class="searchImage" aria-hidden [src]="pathToStaticContent+result.pictures[0].referenceToPicture" height="25" /> {{result.title}} <a style="font-size: 10px;">{{result.description}}</a>
                            </ng-container>
                            <ng-template #elseTemplate>
                                  <img class="searchImage" aria-hidden [src]="staticNotFoundImage" height="25" /> {{result.title}} <a style="font-size: 10px;">{{result.description}}</a>
                            </ng-template>
                      
  
                       <!-- <img class="searchImage" aria-hidden src="https://sheikalthaf.github.io/ngx-carousel/assets/canberra.jpg" height="25" /> {{result.title}} <a style="font-size: 10px;">{{result.description}}</a>
                       -->
                      </mat-option>
                </mat-autocomplete>
          </mat-form-field>

          <mat-card *ngFor="let row of dataSourceAds.connect() | async" class="box" (click)="openDialog(row)">
                <div class="outter">
                        <div class="inner">
                            <ng-container *ngIf="row.pictures[0]!=null; else elseTemplate">
                                  <div class="parentAdvertImage">
                                      <img class="advertImage" mat-card-md-image [src]="pathToStaticContent+row.pictures[0].referenceToPicture">
                                  </div>
                            </ng-container>
                            <ng-template #elseTemplate>
                                  <img class="advertImage" mat-card-md-image src="https://i.imgur.com/0TdfLx8.jpg">
                            </ng-template>
                            
                            
                            <mat-card-title>
                                {{ row.title }}
                            </mat-card-title>
                            <mat-card-subtitle>subtitle</mat-card-subtitle>
      
                            <mat-card-content>
                                <p>
                                    {{ row.description }}
                                </p>
                            </mat-card-content>
                        </div>
                        <mat-card-actions>
                            <mat-card-footer>
                                {{row.timestamp | relativeDatePipe}}
                            </mat-card-footer>
                            <div class="footer-left">
                                Dodano przez: student |  
                                <ng-container *ngIf="row.categories==0; else elseTemplateCategories">
                                      -
                                      </ng-container>
                                      <ng-template #elseTemplateCategories>
                                        {{row.categories[0].name}}
                                        <span *ngIf="row.categories.length > 1" class="example-additional-selection">
                                           (+{{row.categories.length - 1}} <span matTooltip="{{getCategoriesFromVolunteerRequest(row.categories)}}">pozostałych </span>)
                                          </span>
                                          
                                      </ng-template>
                            </div>
                        </mat-card-actions>
                    </div>
          </mat-card>
      </mat-card>
  </div>
</div>
<mat-paginator #paginator class="mat-elevation-z8"
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageEvent = $event; pageChange($event)"
></mat-paginator>









