<!--<footer style="margin-top: 25px; background-color:#3F51B5;position:absolute;
bottom:0;
width:100%;">
  <mat-card style="top:5px; ">
      <mat-card-header style="top: 5px; background-color:rgb(46, 74, 146); box-shadow: inset 1px 1px 5px black;">
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content style="background-color:#3F51B5; box-shadow: inset 1px 1px 5px black;
        background-image: url('https://e-uczelnia.uek.krakow.pl/xtras/logo_uek.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom center;
        min-height:100px ">
          <a routerLink="">Stronga główna</a><br>
          <a routerLink="requests/mine">Moje ogłoszenia</a><br>
          <a routerLink="ads/mine">Moje zgłoszenia</a><br>
          <br>
          <a routerLink="requests/add">Dodaj wolontariusza</a><br>
          <a routerLink="ads/add">Dodaj ogłoszenie</a>

      </mat-card-content>
  </mat-card>
  
</footer>-->

<footer>
  <mat-card>
      <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a routerLink="">Stronga główna</a><br>
          <a routerLink="requests/mine">Moje ogłoszenia</a><br>
          <a routerLink="ads/mine">Moje zgłoszenia</a><br>
          <br>
          <a routerLink="requests/add">Dodaj wolontariusza</a><br>
          <a routerLink="ads/add">Dodaj ogłoszenie</a>

      </mat-card-content>
  </mat-card>
  
</footer>