
<footer>
  <mat-card>
      <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <a routerLink="" fxHide.lt-sm="true">Stronga główna</a><br>
          <a routerLink="requests/mine" fxHide.lt-sm="true">Moje ogłoszenia</a><br>
          <a routerLink="ads/mine" fxHide.lt-sm="true">Moje zgłoszenia</a><br>
          <br>
          <a routerLink="requests/add" fxHide.lt-sm="true">Dodaj wolontariusza</a><br>
          <a routerLink="ads/add" fxHide.lt-sm="true">Dodaj ogłoszenie</a>

      </mat-card-content>

  </mat-card>

</footer>
