<form [formGroup]="resetPasswordFinishForm" #form="ngForm">

  <mat-form-field>
    <input matInput type="password" placeholder="Hasło" formControlName="password">
    <mat-error *ngIf="resetPasswordFinishForm.get('password').hasError('required')">
      Hasło jest <strong>wymagane</strong>
    </mat-error>
    <mat-error *ngIf="resetPasswordFinishForm.get('password').hasError('minlength')">
      Hasło musi składać się z co najmniej 8 znaków
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Powtórz hasło" formControlName="password2">
    <mat-error *ngIf="resetPasswordFinishForm.get('password2').hasError('required')">
      Hasło jest <strong>wymagane</strong>
    </mat-error>
    <mat-error *ngIf="resetPasswordFinishForm.get('password2').hasError('mathOther')
                  && !resetPasswordFinishForm.get('password2').hasError('required')"
    >
      Hasła są różne
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit"
          [disabled]="resetPasswordFinishForm.invalid || resetPasswordFinishButtonDisabled"
          (click)="resetPasswordFinishSubmit()">
    Wyślij
  </button>
</form>
