<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Rejestracja</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="formGroup" #form="ngForm">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf="formGroup.get('email').hasError('required')">
          Email jest <strong>wymagany</strong>
        </mat-error>
        <mat-error *ngIf="formGroup.get('email').hasError('email') && !formGroup.get('email').hasError('required')">
          Proszę podać poprawny adres email
        </mat-error>
        <mat-error *ngIf="formGroup.get('email').hasError('pattern')
        && !formGroup.get('email').hasError('required')
        && !formGroup.get('email').hasError('email')
      ">
          Email musi być uczelniany.
        </mat-error>
        <mat-error *ngIf="formGroup.get('email').hasError('matchValue')">
          Podany adres email już istnieje.
        </mat-error>
      </mat-form-field>

      <app-passwords-form-group (passwordsFormEmitter)="getPasswordsFormGroup($event)"></app-passwords-form-group>

      <mat-form-field>
        <input matInput type="text" placeholder="Imie" formControlName="firstName">
        <mat-error *ngIf="formGroup.get('firstName').hasError('required')">
          Imie jest <strong>wymagane</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Nazwisko" formControlName="lastName">
        <mat-error *ngIf="formGroup.get('firstName').hasError('required')">
          Nazwisko jest <strong>wymagane</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid || buttonDisabled"
              (click)="signup()">
        Zarejestruj się
      </button>
    </form>

    <h3 class="tac">lub</h3>
    <div fxLayout="row" id="buttons">
      <button mat-button fxFlex="100" color="primary" routerLink="../login">Zaloguj się</button>
    </div>

  </mat-card-content>
</mat-card>



