@import "my-theme";
@import "variables";
@import "my-mat-card";

body, html {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

form {
  mat-form-field {
    width: 100%;
    margin-bottom: 5px;
  }

  button {
    width: 100%;
    margin: 20px 0 !important;
  }
}

.snackbar-error {
  background: mat-color($warn);

  button {
    color: white;
  }
}

.tac {
  text-align: center;
}

.app-dialog-container {
  max-width: 800px !important;
  width: 90vw;

  .mat-dialog-container {
    padding: 0;
  }
}

html, body {
  margin:0;
  padding:0;
}

html {
  height: 100%;
}

body {
  min-height: 90%;
  position:relative;
}
