@import "my-theme";
@import "variables";
@import "my-mat-card";

body, html {
  margin: 0;
  padding: 0;
}

form {
  mat-form-field {
    width: 100%;
    margin-bottom: 5px;
  }

  button {
    width: 100%;
    margin: 20px 0;
  }
}

snack-bar-container {
  text-align: center;
}

.snackbar-error {
  background: mat-color($warn);

  button {
    color: white;
  }
}

