            <form [formGroup]="formGroup" #form="ngForm">
      
                <mat-form-field>
                  <textarea matInput placeholder="Opis" matTextareaAutosize matAutosizeMinRows="5"
                            matAutosizeMaxRows="20" formControlName="description"></textarea>
                </mat-form-field>
                
                        <button mat-raised-button (click)="openDialog()">Wybierz swój wolontariat</button>
                      
                      <li *ngIf="vrequestId">
                        Wybrałeś wolontariat o ID: <i>{{vrequestId}}</i>
                      </li>
                <h1>{{ childMessage }}</h1>
                <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid || buttonDisabled"
                        (click)="apply(id)">
                  Dodaj
                </button>
              </form>

    