<form [formGroup]="signupForm" #form="ngForm">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="signupForm.get('email').hasError('required')">
      Email jest <strong>wymagany</strong>
    </mat-error>
    <mat-error *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').hasError('required')">
      Proszę podać poprawny adres email
    </mat-error>
    <mat-error *ngIf="signupForm.get('email').hasError('pattern')
        && !signupForm.get('email').hasError('required')
        && !signupForm.get('email').hasError('email')
     ">
      Email email musi być uczelnianym.
    </mat-error>
    <mat-error *ngIf="signupForm.get('email').hasError('matchValue')">
      Podany adres email jest w bazie
    </mat-error>
  </mat-form-field>

  <mat-form-field formGroupName="passwords">
    <input matInput type="password" placeholder="Hasło" formControlName="password">
    <mat-error *ngIf="signupForm.get('passwords').get('password').hasError('required')">
      Hasło jest <strong>wymagane</strong>
    </mat-error>
    <mat-error *ngIf="signupForm.get('passwords').get('password').hasError('minlength')">
      Hasło musi składać się z co najmniej 8 znaków
    </mat-error>
  </mat-form-field>

  <mat-form-field formGroupName="passwords">
    <input matInput type="password" placeholder="Powtórz hasło" formControlName="password2">
    <mat-error *ngIf="signupForm.get('passwords').get('password2').hasError('required')">
      Hasło jest <strong>wymagane</strong>
    </mat-error>
    <mat-error *ngIf="signupForm.get('passwords').get('password2').hasError('mathOther')
                  && !signupForm.get('passwords').get('password2').hasError('required')"
    >
      Hasła są różne
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid || signupButtonDisabled"
          (click)="signup()">
    Zarejestruj się
  </button>
</form>

<h3 class="tac">lub</h3>
<div fxLayout="row" id="buttons">
  <button mat-button fxFlex="100" color="primary" routerLink="/auth/login">Zaloguj się</button>
</div>
