<mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>Zaproszenia do udziału w wolontariacie</h1>
          </mat-card-title>
        </mat-card-header>

          <mat-card-content>
            <div *ngIf="showApply">
              <h2>Zgłoszenie (id: {{invitationToShow.id}})</h2>
             opis:  {{invitationToShow.description}}
             <br><br>
             <ng-container *ngIf="invitationToShow.accepted; else elseTemplate">
                <button mat-raised-button color="warn" (click)="disableAccept(invitationToShow.id)">Cofnij akceptację zgłoszenia</button>
                
             </ng-container>
             <ng-template #elseTemplate>
                <button mat-raised-button color="primary" (click)="changeAccepted(invitationToShow.id)">Zaakceptuj to zgłoszenie</button>
             </ng-template>
             
             <button mat-raised-button color="basic" (click)="closeApplication(invitationToShow.id)">Zamknij to zgłoszenie</button>
            </div>
            <br>
            
            <br>
        
            <div id="my-table-container">
              <mat-table [dataSource]="dataSource" matSort>
        
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef fxFlex="50px" mat-sort-header>id</mat-header-cell>
                  <mat-cell *matCellDef="let element" fxFlex="50px"> {{ element.id }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="accepted">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="120px">Zaakceptowany</mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="120px">
                      <mat-chip-list>
                        <mat-chip [color]="(element.accepted ? 'primary' : 'warn')" selected="true">
                          {{ (element.accepted ? 'Tak' : 'Nie') }}
                        </mat-chip>
                      </mat-chip-list>
                    </mat-cell>
                  </ng-container>
        
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{ element.description }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="showApply">
                    <mat-header-cell *matHeaderCellDef fxFlex="100px">Podgląd</mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="100px">
                      <button mat-button color="primary" (click)="showApplication(element)">
                        <!--<button mat-button color="primary" [routerLink]="['/requests/', element.id]">-->
          
                        <mat-icon>edit</mat-icon>
                        podgląd
                      </button>
                    </mat-cell>
                  </ng-container>
        
                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
        
              </mat-table>
            </div>
            <mat-paginator #paginator
                           [length]="dataSource.totalElements"
                           [pageSize]="20"
                           [pageSizeOptions]="[5, 10, 20]"
                           [showFirstLastButtons]="true">
            </mat-paginator>
          </mat-card-content>
        </mat-card>
        
      