<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="linkbar" th:fragment="link">

    <div th:switch="${isAnonymous}? ${true} : ${false}">
        <div th:case="${true}">
            <a th:href="@{/login}">Zaloguj &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <a th:href="@{/register}">Rejestracja</a>

        </div>
        <div th:case="${false}">
            Witaj  <strong th:text="${loggedinuser}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong> <a th:href="@{/list}">Uzytkownicy &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <a th:href="@{/logout}">Wyloguj</a>
        </div>
        <div th:case="*">Should never happen, but who knows...</div>
    </div>

</div>