<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Rejestracja użytkownika</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{css/app.css}" rel="stylesheet" />
</head>

<body>
<div class="generic-container">
    <div class="authbar" th:replace="thymeleaf/authheader :: auth" ></div>

    <div class="well lead">Formularz rejestracji użytkownika</div>

    <div th:switch="${edit}? ${true} : ${false}">
        <div th:case="${true}">
            <form method="POST" th:object="${user}" th:action="@{'/edit-user-' + ${user.ssoId}}" class="form-horizontal">
        </div>
        <div th:case="${false}">
            <form method="POST" th:object="${user}" th:action="@{/newuser}" class="form-horizontal">
        </div>
        <div th:case="*">Should never happen, but who knows...</div>
    </div>


    <form method="POST" th:object="${user}" th:action="@{'/edit-user-' + ${user.ssoId}}" class="form-horizontal">
        <input type="hidden" th:field="*{id}" id="id"/>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="firstName">Imię</label>
                <div class="col-md-7">
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control input-sm"/>
                    <div class="has-error">
                        <errors path="firstName" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Nazwisko</label>
                <div class="col-md-7">
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control input-sm" />
                    <div class="has-error">
                        <errors path="lastName" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="ssoId">SSO ID</label>
                <div class="col-md-7">

                    <div th:switch="${edit}? ${true} : ${false}">
                        <div th:case="${true}">
                            <input type="text" th:field="*{ssoId}" id="ssoId" class="form-control input-sm" disabled="true"/>
                        </div>
                        <div th:case="${false}">
                            <input type="text" th:field="*{ssoId}" id="ssoId" class="form-control input-sm" />
                            <div class="has-error">
                                <errors path="ssoId" class="help-inline"/>
                            </div>
                        </div>
                        <div th:case="*">Should never happen, but who knows...</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="password">Hasło</label>
                <div class="col-md-7">
                    <input type="password" th:field="*{password}" id="password" class="form-control input-sm" />
                    <div class="has-error">
                        <errors path="password" class="help-inline"/>
                    </div>
                </div>
            </div>
        </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable" for="email">Email</label>
                        <div class="col-md-7">
                            <input type="text" th:field="*{email}" id="email" class="form-control input-sm" />
                            <div class="has-error">
                                <errors path="email" class="help-inline"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable" for="userProfiles">Uprawnienia</label>
                        <div class="col-md-7">
                           <!--
                           <form:select path="userProfiles" items="${roles}" multiple="true" itemValue="id" itemLabel="type" class="form-control input-sm" />
                           <select th:field="*{userProfiles}" items="${roles}" multiple="true" itemValue="id" itemLabel="type" class="form-control input-sm">
                            -->

                                <select th:field="*{userProfiles}" size="4" th:multiple="true">
                                    <option th:each="type : ${roles}"
                                            th:value="${{type.id}}"
                                            th:text="${type.type}">Wireframe</option>
                                </select>

                            <div class="has-error">
                                <errors path="userProfiles" class="help-inline"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <div th:switch="${edit}? ${true} : ${false}">
                            <div th:case="${true}">
                                <input type="submit" value="Aktualizuj" class="btn btn-primary btn-sm"/> lub <a th:href="@{/list}">Anuluj</a>
                            </div>
                            <div th:case="${false}">
                                <input type="submit" value="Zarejestruj" class="btn btn-primary btn-sm"/> lub <a th:href="@{/list}">Anuluj</a>
                            </div>
                            <div th:case="*">Should never happen, but who knows...</div>
                        </div>
                    </div>
                </div>
    </form>
</div>
</body>
</html>