<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potwierdzenie rejestracji</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{css/app.css}" rel="stylesheet" />
</head>
<body>
<div class="generic-container">
    <div class="authbar" th:replace="thymeleaf/authheader :: auth" ></div>

    <div class="alert alert-success lead">
        <td th:text="${success}">...</td>
    </div>

    <span class="well floatRight">
            Wróć do <a th:href="@{/list}">listy użytkowników.</a>
        </span>
</div>
</body>

</html>