#app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  mat-toolbar {

    div {
      height: 80%;

      button {
        height: 100%;
        font-size: 19px;
        min-width: 60px;
      }
    }
  }

  #app-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.sidenav-container {
  margin-left:-16px;
  flex: 1 0 auto;
}






