<div id="app-navbar">
  <mat-progress-bar mode="indeterminate" *ngIf="displayProgresBar" id="app-progress-bar"></mat-progress-bar>

  <mat-toolbar color="primary" id="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button routerLink="/" mat-button>
        <mat-icon>home</mat-icon>
      </button>

      <!--<button mat-button [matMenuTriggerFor]="menu2" *appHasAnyRole="['ROLE_ADMIN']">-->
      <!--Admin-->
      <!--</button>-->
      <!--<mat-menu #menu2="matMenu">-->
      <!--<div>-->
      <!--<button mat-menu-item routerLink="/admin/users">Użytkownicy</button>
      <!--<button mat-menu-item routerLink="/requests/admin">Zgłoszenia</button>-->
      <!--</div>-->
      <!--</mat-menu>-->

      <button mat-button [matMenuTriggerFor]="menu3" *appHasAnyRole="['ROLE_ADMIN']">
      Admin
      </button>
      <mat-menu #menu3="matMenu"><mat-icon>keyboard_arrow_down</mat-icon>
      <div>
      <button mat-menu-item routerLink="/admin/users">Użytkownicy</button>
      <button mat-menu-item routerLink="/requests/admin">Ogłoszenia</button>
      <button mat-menu-item routerLink="/ads/admin">Wolontariusze</button>
      <button mat-menu-item routerLink="/admin/categories">Kategorie</button>
      </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu2" *appHasAnyRole="['authenticated']">
        Ogłoszenia
      </button>
      <mat-menu #menu2="matMenu">
        <div>
          <button mat-menu-item routerLink="/requests/admin">Ogłoszenia admin</button>
          <button mat-menu-item routerLink="/requests/mine">Moje ogłoszenia</button>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu4" *appHasAnyRole="['authenticated']">
          Wolontariusz
        </button>
        <mat-menu #menu4="matMenu">
          <div>
            <button mat-menu-item routerLink="/ads/admin">Wolontariusze admin</button>
            <button mat-menu-item routerLink="/ads/mine">Moje ogłoszenia</button>
          </div>
        </mat-menu>

      <button routerLink="requests/add" mat-button>
        Dodaj ogłoszenie
      </button>

      <button routerLink="ads/add" mat-button>
        Dodaj wolontariusza
      </button>

    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *appHasAnyRole="['guest']">
          <button mat-menu-item routerLink="/login">Logowanie</button>
          <button mat-menu-item routerLink="/signup">Rejestracja</button>
        </div>

        <div *appHasAnyRole="['authenticated']">
          <button mat-menu-item routerLink="/profile">Konto</button>
          <button mat-menu-item (click)="logout()">Wyloguj</button>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
